+prefix-classes('blog-')
  .head
    position: relative
    width: 100%
    background-color #fff
  .nav--active
    color: #00965E!important
  .head--content 
    display grid
    grid-template-columns 2fr 8fr 4fr 3fr
    grid-template-rows 60px
    margin: 0 auto
    padding: 10px 0
    width: 1060px
    height 60px
    box-sizing: border-box
    justify-content space-between
    align-content center
    a
      color: #737373
    a:hover
      // font-weight: bold
      color: #0c0b0b
      background-color: transparent
  .head-fixed
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 999

  .head--logo 
    justify-self left
    img
      height: 100%
      width: auto
      vertical-align: middle
      border-radius 50%
  .head--nav 
    align-self center
    grid-template-columns auto
    text-align center

  .nav--list 
    display grid
    grid-template-columns repeat(6, 1fr)
    font-size 20px

  .head-menu 
    display none
    width 40px
    
  .head--search 
    position relative
    justify-self right
    align-self center
    padding-left 30px
    border-radius 6px
    padding 4px
    box-shadow 0 0 2px #222
    font-size 20px
    width 100%
    height 30px
  
  .search--icon
    height: 30px
    line-height: 22px

  .input--search 
    position absolute
    left 30px
    bottom 0
    top 0
    margin auto 0
    border 0
    outline 0
    background-color rgba(0, 0, 0, 0)
    padding 0 6px
    font-size 14px

  .head--login, .head--write
    line-height: 60px
    font-size 20px
    color #ccc
    text-align: right

  .head--write
    display: none
    .iconfont
      font-size: 30px
    .logout:hover
      color: rgb(225, 19, 19)

  .head-menu
    align-self center
    justify-self center
    font-size 36px
    line-height: 60px
    grid-column-start 4

  .modal--wrap
    position fixed
    top 200px
    left 0
    right 0
    margin auto
    padding: 0 140px
    height: fit-content
    min-width 400px
    max-width: 650px
    padding 10px  
    background-color #fff
    border-radius 4px
    border 2px solid #ccc

  .modal--head
    display flex
    justify-content space-between
    align-items center
    padding-bottom 5px
    border-bottom 1px solid #ccc
  .modal--title
    font-size 24px
  .modal--close
    border: none
    font-size 30px
    height: 30px
    line-height: 30px
    background-color: transparent
  .modal--content
    padding 10px 20px 0px
    // form>div:nth-child(-n+2) {
    form > div {
      margin-bottom 10px
      overflow hidden
    }
    label 
      float left
      width 20%
      padding-right 20px
      box-sizing border-box
      font-size: 16px
      line-height 26px
      text-align justify /* 最后一行文字不会两端对齐 */
      text-align-last: justify
    input
      float left 
      outline: none
      width: 80%
      font-size: 16px
  .modal--foot 
    display grid
    grid-template-areas: 'btn btn btn'
    justify-content: center
    grid-gap 10px
    &>button 
      width 100px
  // 提示信息
  .modal--warning,
  .modal--success,
  .modal--pity
    position fixed
    top -120px
    left 50%
    transform: translate(-50%, 0)
    z-index 9999
    padding: 0 30px
    border-radius: 8px
    font-size: 16px
    line-height 40px
    color: #fff
    background-color #F0AD4E
    transition: .3s
  .modal--success
    background-color #5CB85C
  .modal--pity
    color: #fff
    background-color: #333
  /* 响应式布局 */
  @media screen and (max-width 1060px) 
    .head--content 
      width 860px
      grid-template-columns 1fr 2fr 1fr
    .head--search 
      display none
  @media screen and (max-width 860px) 
    .head--content 
      width 700px
      grid-template-columns 1fr 1fr
    .head--nav 
      display none
    .head-menu 
      display block
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      height: 100%
      cursor pointer
      .dropdown-menu
        display: none
        position absolute
        text-align center
        top 100%
        left 50%
        width: 600%
        font-size: 16px
        line-height 40px
        color #000
        background-color: #fff
        box-shadow: 0 0 4px #333
        border-radius: 4px
        z-index 999
        transform translate(-50%, 0)
