{{!-- 首页顶部导航 --}}
<div class="blog-head--content">
  <h1 class="blog-head--logo">
    <a href="#">
      <img src="public/img/logo.jpg" alt="logo!" width="512" height="512">
    </a>
  </h1>
  <nav class="blog-head--nav">
    <ul class="blog-nav--list ">
      <li><a href="javascript:;" data-router="answer">问答</a></li>
      <li><a href="javascript:;" data-router="special-column">专栏</a></li>
      <li><a href="javascript:;" data-router="course">课程</a></li>
      <li><a href="javascript:;" data-router="recruit">招聘</a></li>
      <li><a href="javascript:;" data-router="activity">活动</a></li>
      <li><a href="javascript:;" data-router="discover">发现</a></li>
    </ul>
  </nav>
  <div class="blog-head--search">
    <div class="blog-search--icon"><i class="iconfont">&#xe633;</i></div>
    <input class="blog-input--search " placeholder="文章检索" type="text">
  </div>
  <div class="blog-head--login">
    <a class="blog-btn--login" data-toggle="modal" data-target="#loginModal">登录</a> 
    / 
    <a class="blog-btn--register" data-toggle="modal" data-target="#registerModal">注册</a>
  </div>
  <div class="blog-head--write">
    <a href="javascript:;" data-router="writeBlog" class="iconfont blog-iconfont" title="写文章">&#xe62d;</a>
    <a href="javascript:;" data-router="personInfo" class="iconfont blog-iconfont blog-logout" title="退出登录">&#xe606;</a>
  </div>
  <div class="blog-head-menu">
    <i class="blog-dropdown-btn iconfont" type="button">&#xe60d;</i>
    <ul class="blog-dropdown-menu">
      <li><a href="javascript:;" data-router="answer">问答</a></li>
      <li><a href="javascript:;" data-router="special-column">专栏</a></li>
      <li><a href="javascript:;" data-router="course">课程</a></li>
      <li><a href="javascript:;" data-router="recruit">招聘</a></li>
      <li><a href="javascript:;" data-router="activity">活动</a></li>
      <li><a href="javascript:;" data-router="discover">发现</a></li>
    </ul>
  </div>
</div>
