<div class="blog-write--head">
  <h1 class="blog-write--logo">
    <a href="javascript:;">
      <img src="public/img/logo.jpg" alt="logo!" width="512" height="512">
    </a>
  </h1>
  <div class="blog-write--title">写文章</div>
  <div class="blog-write--submit">
    <a href="javascript:;" class="blog-write--onsubmit">发布文章<i>↓</i></a>
    <div class="blog-submit--form">
      <div class="blog-form--cover">
        <div class="blog-cover--show">
          <p>封面图比例 21:9</p>
          <p>推荐分辨率 790*338@2x</p>
        </div>
        <input type="file" name="cover" class="blog-upload--cover" accept="image/*" hidden>
        <div class="blog-cover--tip">设置封面</div>
        <div class="blog-cover--delete">删除</div>
      </div>
      <div class="blog-submit--confirm">
        确认发布
      </div>
    </div>
  </div>
</div>
