<div class="blog-title--input">
  <input type="text" placeholder="请输入标题" name="title">
</div>
<div class="blog-write--column">
  <div class="blog-column--show">+ 添加分类</div>
  <div class="blog-column--select">

  </div>
</div>
<div class="full-screen-container">
  <div class="toolbar-container"></div>
  <div class="editor-container"></div>
</div>